app-infrastructure/stack_variables*
provisioning-private-key
.terraform.tfstate.lock.info
terraform.tfstate.backup
terraform.tfstate
.terraform
.project
httpd-server.chain
httpd-server.crt
httpd-server.key
stack_variables_a.tf.baseline
stack_variables_b.tf.baseline
.DS_Store
