# JVM-only options stay here
JAVA_OPTS=-XX:+UseParallelGC -XX:SurvivorRatio=250 -Xms10g -Xmx56g

server.port=8080
spring.profiles.active=open
CACHE_SIZE=2500
SMALL_TASK_THREADS=1
LARGE_TASK_THREADS=1
SMALL_JOB_LIMIT=100
ID_BATCH_SIZE=5000
