PICSURE_GATEWAY_URL=http://gateway:8080
MCP_SERVICE_TOKEN=${mcp_service_token}

MCP_ADAPTER_BASE_URL=https://${env_public_dns_name}
MCP_ADAPTER_INCLUDE_CONSENTS=true
MCP_ADAPTER_SUPPORTS_GENOMIC=true

LOGGING_SERVICE_URL=http://pic-sure-logging
LOGGING_API_KEY=${logging_api_key}
